@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
:root{
    --posdestino:0%;
    --posorigen:5%;
}
*{
    margin:0;
    padding:0;
}
dt{
    border-bottom: 1.2px solid black;
}
body{
    box-sizing: border-box;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 17% 57% 13% 13%;
    grid-template-areas:
            "cab cab"
            "anim anim"
            "con con"
            "foot foot";
    font-size: 1em;
}
section{
    grid-area: anim;
}
header{
    display:flex;
    background-color:rgba(0,111,43,.8);
    grid-area: cab;
    justify-content: space-between;
    justify-items: center;
}

nav{
    padding-left: 1em;
    padding-top: 1.2em;
    font-size: .6em;
}
nav p{
    padding-bottom:.3em ;
    font-family: 'Gruppo', cursive;
    font-weight: bold;
    font-size: 1.7em;
}

#titulo{
    font-family: 'Gruppo', cursive;
    padding-right: 2em;
    padding-top: 4em;
    font-weight: bold;
}
h6{
    font-size: 1em;
}
h1{
    font-size: 2.5em;
}

#animacion{
    padding-top:1em ;
    background-color: white;
}
#linea{
    z-index: 1;
    width: 100%;

}
#control{
    justify-content: space-around;
    background-color: rgba(77, 97, 97,.5);
    grid-area: con;
    border:3px outset grey;
    margin-left: .2em;
    margin-right: .2em;
    margin-bottom: .2em;
    visibility: hidden;
}
#botones{
    display: flex;
    margin-top: 0.1em;
    margin-left: 0.2em;
    
}
#stop{
    margin-right: 2em;
}
#select{
    padding-left: .5em;
    display: flex;
    align-items: center;
    justify-content: baseline;

}
#control p{
    margin-bottom: .2em;
    margin-left: 0.3em;
    margin-top: 0.3em;
}
#paro{
    display:flex;
}
#stop{
    background-color: red;
    padding:.9em .9em;
    border-radius: 50%;
    font-size:.8em;
}
#rearme{
    background-color: rgb(218, 234, 44);
    padding:0.2em 1em;
    margin-left: 0.4em;
    font-size:0.8em;
}

#arrancar{
        background-color: rgb(14, 194, 68);
        padding:.9em .9em;
        border-radius: 50%;
        font-size:.8em;
}
#marcha{
    display: flex;
}
footer{
    display: flex;
    background-color: #cccccc;
    grid-area: foot;
    font-size: .7em;
    justify-content: space-around;
}
footer img{
    padding: .5em;
}
footer dd{
    padding-bottom: .4em;
}
footer dt{
    margin-bottom: 1em;
    padding-top: 1em;
}
@media screen and (max-width : 287px) {
    #titulo{
        padding-right: 0em;
        padding-top: 0em;
    }
}
@media screen and (max-width: 259px){
    #titulo{
        text-align: right;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    header{
        flex-flow: column wrap;
    }
}
@media screen and (max-width: 320px){
    #enlaces{
     border: 2px solid black;
     display: none !important;
        
    }
}
@media screen and (min-width:768px) {
    body{
    grid-template-areas: 
    "cab cab"
    "anim anim"
    "con . "
    "foot foot";
    }

}
@media (min-width: 1024px) {
    body{
    width: 70%;
    grid-template-rows: 17% 57% 13% 13%;
    margin: 0 auto;
    }
   
    #botones{
        padding-left: 1em;
        
   }
}
#tren1{
    width: 70px;
    height: 70px;
}
#anim_tranvia1{
    margin-top: 10em;
    animation-name: anim_tranvia;
    overflow: hidden;
    margin-left: var(--posorigen);
    animation-duration: 2s;
    animation-direction: normal;
    animation-delay: 0.2s;
    animation-iteration-count:1;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}

@keyframes anim_tranvia{
    from{
        margin-left: var(--posorigen);
        width: 100%;
    }
    to{
        margin-left: var(--posdestino);
    }
}



