@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
*{
    margin:0;
    padding:0;
}
dt{
    border-bottom: 1.2px solid black;
}
body{
    box-sizing: border-box;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 9% 62% 12% 17%;
    grid-template-areas:
            "cab cab"
            "anim anim"
            "con con"
            "foot foot";
    font-size: 1em;
}
section{
    grid-area: anim;
}
header{
    display:flex;
    background-color:#006f2b;
    grid-area: cab;
    justify-content: space-between;
    justify-items: center;
}

nav{
    padding-left: 1em;
    padding-top: 1.2em;
    font-size: .6em;
}
nav p{
    padding-bottom:.3em ;
}

#titulo{
    font-family: 'Gruppo', cursive;
    padding-right: 2em;
    padding-top: .7em;
}

#animacion{
    background-color: white;
}
#tran{
    width: 25%;
}

#control{
    padding-top: .2em;
    justify-content: space-around;
    background-color: rgba(77, 97, 97,.5);
    grid-area: con;
    border:1px solid grey;
    margin-left: .2em;
    margin-right: .2em;
    margin-bottom: .2em;
}
#botones{
    display: flex;
    justify-content: center;
    margin-left: 2em;
}
#stop{
    margin-right: 2em;
}
#select{
    padding-left: .5em;
    display:block;
}
#select p{
    margin-bottom: .2em;
}
#paro{
    display:flex;
}
#stop{
    background-color: red;
    padding:.7em .5em;
    border-radius: 50%;
    font-size:.6em;
}
#rearme{
    background-color: rgb(14, 194, 68);
    padding:.7em .7em;
    border-radius: 50%;
    font-size:.6em;
}
#marcha{
    display: flex;
}
footer{
    display: flex;
    background-color: #cccccc;
    grid-area: foot;
    font-size: .7em;
    justify-content: space-around;
}
footer img{
    padding: .5em;
}
footer dd{
    padding-bottom: .4em;
}
footer dt{
    margin-bottom: 1em;
    padding-top: 1em;
}
@media screen and (max-width : 287px) {
    #titulo{
        padding-right: 0em;
        padding-top: 0em;
    }
}
@media screen and (max-width: 259px){
    body{
        grid-template-rows: 8% 50% 12% 17%;
    }
    #titulo{
        text-align: right;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    header{
        flex-flow: column wrap;
    }
}
@media screen and (max-width: 320px){
    #enlaces{
     border: 2px solid black;
     display: none !important;
        
    }
}
@media screen and (min-width:768px) {
    body{
    grid-template-columns: 50% 50%;
    grid-template-rows: 9% 62% 12% 17%;
    grid-template-areas: 
    "cab cab"
    "anim anim"
    "con anim"
    "foot foot";
    }

}
@media (min-width: 1024px) {
    body{
    width: 70%;
    margin: 0 auto;
    }
    #animacion img{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;   
    }
    #botones{
        padding-left: 5em;
        padding-top: 0.5em;
   }
}
#tran{
    animation-duration: 10s;
    animation-name: viaje;
}
@keyframes viaje{
    from{
        margin-right: 100%;
        width: 300%;
    }
    to{
        margin-left: 12%;
        width:100%
    }
}