@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
:root{
    --posdestino:0%;
    --posorigen  :5%;
}
*{
    margin:0;
    padding:0;
}
dt{
    border-bottom: 1.2px solid black;
}
body{
    box-sizing: border-box;
    max-height: 120vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 9% 40% 12% 17%;
    grid-template-areas:
            "cab"
            "anim"
            "con"
            "foot";
    font-size: 1em;
}
section{
    grid-area: anim;
}
header{
    display:flex;
    background-color:#006f2b;
    grid-area: cab;
    justify-content: space-between;
    justify-items: center;
}

nav{
    padding-left: 1em;
    padding-top: 1.2em;
    font-size: .6em;
}
nav p{
    padding-bottom:.3em ;
}

#titulo{
    font-family: 'Gruppo', cursive;
    padding-right: 2em;
    padding-top: .7em;
}

#animacion{
    background-color: white;
    
}

#control{
    
    justify-content: space-around;
    background-color: rgba(77, 97, 97,.5);
    grid-area: con;
    border:1px solid grey;
    margin-left: .2em;
    margin-right: .2em;
    margin-bottom: .2em;
}
#botones{
    display: flex;
    justify-content: center;
    margin-left: 2em;
}
#stop{
    margin-right: 2em;
}
#select{
    padding-left: .5em;
    display:block;
}
#select p{
    margin-bottom: .2em;
}
#paro{
    display:flex;
}
#stop{
    background-color: red;
    padding:.7em .5em;
    border-radius: 50%;
    font-size:.6em;
}
#rearme{
    background-color: rgb(14, 194, 68);
    padding:.7em .7em;
    border-radius: 50%;
    font-size:.6em;
}
#marcha{
    display: flex;
}
footer{
    display: flex;
    background-color: #cccccc;
    grid-area: foot;
    font-size: .7em;
    justify-content: space-around;
}
footer img{
    padding: .5em;
}
footer dd{
    padding-bottom: .4em;
}
footer dt{
    margin-bottom: 1em;
    padding-top: 1em;
}
@media screen and (max-width : 287px) {
    #titulo{
        padding-right: 0em;
        padding-top: 0em;
    }
}
@media screen and (max-width: 259px){
    body{
        grid-template-rows: 8% 50% 12% 17%;
    }
    #titulo{
        text-align: right;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    header{
        flex-flow: column wrap;
    }
}
@media screen and (max-width: 320px){
    #enlaces{
     border: 2px solid black;
     display: none !important;
        
    }
}
@media screen and (min-width:768px) {
    body{
    grid-template-columns: 100%;
    grid-template-rows: 9% 62% 12% 17%;
    grid-template-areas: 
    "cab"
    "anim"
    "con"
    "foot";
    }

}
@media (min-width: 1024px) {
    body{
    width: 70%;
    margin: 0 auto;
    }
   
    #botones{
        padding-left: 5em;
        
   }
}
#tren1{
    width: 62px;
    height: 66px;
}
#anim_tranvia1{
    animation-name: anim_tranvia;
    overflow: hidden;
    margin-left: var(--posorigen);
    animation-duration: 1s;
    animation-direction: normal;
    animation-delay: 0.2s;
    animation-iteration-count:1;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
}

@keyframes anim_tranvia{
    from{
        margin-left: var(--posorigen);
        width: 100%;
    }
    to{
        margin-left: var(--posdestino);
    }
}



